---
import datasets from "../json/datasets_on_homepage.json";
// TODO: get list from glob
---

<div class="hero bg-base-100 min-h-screen mx-auto max-w-full">
  <div class="hero-content flex flex-col">
    <div class="flex flex-col px-4 mt-32">
      <div class="p-5 flex flex-col">
        <h2 class="text-5xl md:text-6xl px-4">データセット</h2>
        <p class="px-5 text-base">公開データセット</p>
      </div>

      <!-- list -->
      <div class="flex flex-row gap-3">
        {
          datasets.map((dataset) => {
            return (
              <div class="card card-compact w-full bg-base-100 shadow-xl">
                <figure>
                  <img src={dataset.image} alt={dataset.title} />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">{dataset.title}</h2>
                  <p>{dataset.description}</p>
                  <div class="card-actions justify-end">
                    <a href={dataset.url} class="btn btn-primary">
                      詳細
                    </a>
                  </div>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
    <div class="text-base-content text-right py-10">
      <a href="/datasets" class="btn btn-primary w-full">すべてのデータセット</a
      >
    </div>
  </div>
</div>
