---
const { researchmapAccount } = Astro.props;

const url = `https://api.researchmap.jp/${researchmapAccount}/published_papers`;
const response = await fetch(url);
const data = await response.json();
---

<div class="mt-6 mb-10 overflow-x-auto">
  {
    data.items.map((item) => (
      <p class="text-base-content">
        <span class="font-bold">
          「{item.paper_title.ja || item.paper_title.en}」
        </span>
        、
        {item.authors.ja
          ? item.authors.ja?.map((item2) => item2.name).join('・')
          : item.authors.en?.map((item2) => item2.name).join('・')}
        、
        『{item.publication_name?.ja || item.publication_name?.en}』
        {item.volume && <>、Vol. {item.volume}</>}
        {item.number && <>、No. {item.number}</>}
        {item.starting_page && (
          <>
            、pp. {item.starting_page}-{item.ending_page}
          </>
        )}
        {item.publication_date && <>、 {item.publication_date}</>}
      </p>
    ))
  }
</div>
