---
const { name, position, researchmap_url, twitter_account, id } = Astro.props;
---

<div class="py-16 px-4 font-bold bg-base-200 md:flex" id={id}>
  <div class="avatar">
    <div class="w-24 rounded-xl">
      <img src={researchmap_url + "/avatar.jpg"} />
    </div>
  </div>
  <div class="px-8">
    <h4 class="text-secondary text-2xl md:text-4xl">{name}</h4>
    <p class="text-base-content">{position}</p>
    <p class="text-base-content">
      researchmap: <a
        href={researchmap_url}
        class="link link-hover"
        target="_blank">{researchmap_url}</a
      >
    </p>
    {twitter_account && (
      <p class="text-base-content">
      Twitter: <a
        href={"https://twitter.com/"+twitter_account}
        class="link link-hover"
        target="_blank">@{twitter_account}</a
      >
    </p>
    )}
  </div>
</div>
